*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


.logo{
    text-align: center;
    width: 100%;
    padding: 10px;
}

#main-part {
    width: 100%;
    /*margin-top: 200px;*/
}

.container {
    padding: 10px;
    width: 100%;
}

body {
    width: 100%;
}

.ng-scope {
    width: 100%;
}

.login-area {
    width: 100%;
    text-align: center;
}

#login-btn {
    padding: 15px 30px 15px 20px;
     border: 3px solid rgb(95, 190, 172);
     /*width: 80%;*/
    text-align: center;
    /*margin-top: 25px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    font-size: 20px;
    background-color: white;
}

#event-btn {
    font-size: 35px;
    color: #fff;
    border: none;
    background: transparent;
    background: linear-gradient(to right, #1BCE7C, #21A9E3);
    float: right;
    padding: 9px 20px 9px 20px;
}

#firstHeadline {
    padding-bottom: 10px;
}

#event-new {
    float: left;
    padding: 15px 30px 15px 20px;
    border: 2px solid rgb(95, 190, 172);
    width: calc(100% - 76px);
}

#event {
    width: 100%;
    position: fixed;
    padding: 40px 28px 10px 28px;
}

.secondHeadline {
    padding: 5px 28px 10px 28px;
}

.recentChannels {
    padding: 5px 28px 10px 28px;
    float: left;
    padding: 15px 30px 15px 20px;
    border: 2px solid rgb(95, 190, 172);
    width: 100%;
    font-size: 16px;
    margin-bottom: 20px;
}


#logout {
    float: right;
    margin: 10px;
}

.all-events {
    padding-top: 160px;
}


.headline {
    margin-top: 10px;
    padding: 15px 28px 15px 28px;
    background: linear-gradient(to right, #1BCE7C, #21A9E3);
    color: white;
    width: 100%;
}

.back {
    padding: 8px 28px 0px 28px;
    font-size: 30px;
}

.goback {
    text-decoration: none;
    color: rgb(94, 198, 140);
    margin: 0px;
}

.mainpart {
    width: 100%;
}

.newQuestion1 {
    padding: 30px 28px 10px 28px;
    width: 100%;
    position: fixed;
}

question {
    float: left;
    padding: 15px 30px 15px 20px;
    border: 2px solid rgb(95, 190, 172);
    width: calc(100% - 76px);
}
.add {
    background: linear-gradient(to right, #1BCE7C, #21A9E3);
    float: right;
    padding: 9px 20px 9px 20px;
}


.ion-arrow-right-a {
    font-size: 35px;
    color: #fff;
    border: none;
    background: transparent;
}

.noQuestions {
    padding: 20px 28px 10px 28px;
}

.border {
    padding: 20px 28px 10px 28px;
}

.content {
    border: 2px solid rgb(95, 190, 172);
    padding: 15px 10px 15px 20px;
    float: left;
    margin-top: 15px;
    width: 100%;
}

.content2 {
    float: left;
    width: 80%;
    font-size: 16px;
}